{% autoescape off %}

<html>
<head>
   <title>Aivaid</title>
</head>
<body>
 <table width="600" cellspacing="15" background="https://www.aivaid.com/static/images/bg2.png" style="background-size:100% 100%; margin:0 auto; background-repeat:no-repeat; border: 1px dotted #000000; padding:0px 20px;">
   <tbody>
      <tr style="text-align:center;">
	    <td><img src="https://www.aivaid.com/static/images/ai-vaid-logo.png"/></td>
	  </tr>
	  <tr>
	    <td style="background:#fff; text-align:center; padding:25px 50px 40px; box-shadow:0px 3px 10px -2px #7193c1">
		<img src="https://www.aivaid.com/static/images/lock.gif" width="140"/>
		   <h2 style="color:#fff; background:#0B4A7C;margin: 0px; margin-top:20px; font-size:28px; border-top: 2px solid #0b4a7c; border-bottom: 2px solid #0b4a7c; padding:5px;">Forgot Your Password?</h2>

		  <p> HI {{ user.get_username }}  dont worry,we got you! Let's get you a new password.</p><br/>
		  <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="background: #26a69a; color: #fff; text-decoration: none; padding: 10px 12px; font-weight:600;">Reset Password</a>
		</td>
	  </tr>

	  <tr>
	    <td style="background:#fff; text-align:center; padding:25px 50px; box-shadow: 0px 3px 10px -2px #7193c1">
		   <h2 style="color:#0B4A7C;">Get The Aivaid App</h2>
		   <p>Download the app to join millions of people around the world managing their health with Aivaid.</p>
		   <a href="https://play.google.com/store/apps/details?id=io.ionic.webtunixsol" target="#blank"><img src="https://www.aivaid.com/static/images/playstore.png"></a>
		</td>
	  </tr>
	  <tr style="text-align:center;">
	   <td><h4 style="margin:0px">Get in Touch. We cherish all Interactions! <br/><a href="#" style="color:#0B4A7C; text-decoration:none;">info@aivaid.com</a></h4>
	   <ul style="margin: 0px; padding:0px;">
	        <li style="display:inline-table; margin-right: -20px;"><a href="#"><img src="https://www.aivaid.com/static/images/fb.png" width="44px"/></a></li>
			<li style="display:inline-table; margin-right: -20px;"> <a href="https://twitter.com/aivaid9"><img src="https://www.aivaid.com/static/images/twitter.png" width="40px"/></a></li>
			 <li style="display:inline-table; margin-right: -20px;"><a href="https://plus.google.com/u/0/111992377469146022648"><img src="https://www.aivaid.com/static/images/google.png" width="40px"/></a></li>
			   <li style="display:inline-table; margin-right: -20px;"><a href="#"><img src="https://www.aivaid.com/static/imageslinkedin.png" width="44px"/></a></li>
				<li style="display:inline-table; margin-right: -5px;"><a href="https://www.youtube.com/channel/UCwgNeF79ahnRc0Q0M7GTA6w"><img src="https://www.aivaid.com/static/images/Youtube.png" width="40px"/></a></li>
		 </ul>
		 <h4 style="margin:0px">&copy; 2018. AI Vaid. All Rights Reserved.</h4>
	   </td>

	  </tr>
	  <tr>
	   <td style="text-align:center;">

		</td>
	 </tr>
   </tbody>
 </table>
</body>
</html>
{% endautoescape %}