{% include 'header.html' %}
<section id="forgetpassword">
    <div class="container">
        <div class="forgotwrap">
            <div class="row">
                <div class="col-mg-12">
                    <h1>Reset your <strong>password</strong></h1>

                    {% block content %}
                    {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-default forgotbtn02">Submit</button>
                    </form>
                    {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    {% endif %}
                    {% endblock %}


                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
