{% include 'header.html' %}
<section id="forgetpassword">
    <div class="container">
		<div class="forgotwrap">
			<div class="row">
				<div class="col-mg-12">
				<h1>Reset your <b>password?</b></h1>
					<p><i class="far fa-check-circle"></i><span class="parapadd">Password reset Successfully!!</span></p>
					<p>You have <b>Successfully</b> reset the Password for Your Aivaid Acoount and Are <a href="../{% url 'login' %}">Signed</a> in to Aivaid.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include 'footer.html' %}
