{% load static %}
{% include "header.html" %}
<section class="about-us">
 <div class="container">
   <div class="row">
     <div class="col-md-12">

   <h1 class="text-center">More About AI Vaid</h1>
	  <div><h4 class="text-center">OUR <strong>STRENGTH</strong></h4>
	    <h5>Quality:</h5>
		<p>AI Vaid provides high quality medical treatment. Patients can diagnosis his health corresponding to symptoms within few minutes. And guide you in a right path.</p>
	    <h5>Cost:</h5>
         <p>AI Vaid is totally free of cost service. You will get your medical report on demand only. Thus further you can consult doctor according to your requirement.</p>
	    <h5>Focus:</h5>
		<p>AI Vaid main aim is to provide medical facility to every nook and corner. We want to lower down the doctor to patient ratio by providing medical facilities to everywhere at anytime.
       </p>
	   <h5>Speed:</h5>
	   <p>AI Vaid doesn’t demand any prior appointment for checkup. You will get instant medical report also.</p>
	   <h5>Availability:</h5>
	   <p>AI Vaid services are available 24*7. You just need AI Vaid app and internet connection to get our services.</p>
	 </div><br/>
	 </div>
	 <div class="col-md-6">
	 <div>
	<h4 style="float:left;">OUR <strong>VISION</strong></h4>

	<div class="clearfix"></div>
		<br/>
	    <p>AI Vaid has built by the best team of engineers and business tycoons to provide a matchless health care experience for the society. We provide various facilities so that patient could diagnose its health conditions and save their life.
		  </p><p>
		  AI Vaid connects within 90 seconds through your computer, smartphone or tablet. It is simple and easy to use app presenting top of the line care to the patients. You don’t need to fix appoint for your diagnosis. You just login and start diagnosis within few minutes.
		 </p><p>
		You will also get instant report of your diagnosis. Our main priority is privacy of our customers. We ensure this with top tier security and encryption technology.

		</p><p>
		AI Vaid Team always tries to give best health care and services. Video calls are helpful to provide thorough clinical treatment. We have wide range of services for the medical treatment.


		</p>
	 </div>
	 </div>
	 <div class="col-md-6">
	  <div>
	<h4 style="float:right;">OUR <strong>MISSION</strong></h4>
	 	<div class="clearfix"></div>
	<br/>
	    <p>AI Vaid has built by the best team of engineers and business tycoons to provide a matchless health care experience for the society. We provide various facilities so that patient could diagnose its health conditions and save their life.
		  </p><p>
		  AI Vaid connects within 90 seconds through your computer, smartphone or tablet. It is simple and easy to use app presenting top of the line care to the patients. You don’t need to fix appoint for your diagnosis. You just login and start diagnosis within few minutes.
		 </p><p>
		You will also get instant report of your diagnosis. Our main priority is privacy of our customers. We ensure this with top tier security and encryption technology.

		</p><p>
		AI Vaid Team always tries to give best health care and services. Video calls are helpful to provide thorough clinical treatment. We have wide range of services for the medical treatment.


		</p>
	 </div>
	 </div>
   </div>
 </div>
</section>
{% include "footer.html" %}