{% include "header.html" %}
{% load static %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 no-padd doctors-panel">
                <div class="confirmmail">
                    <h1 class="text-center section-heading1">Mail sent!</h1>
                    <h3 class="text-center section-heading2">Please confirm your email address to complete the
                        registration</h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% include "footer.html" %}