{% load static %}
{% include 'header.html' %}
<div class="doctor-consultform">
  <div class="panel">
      <h1 class="panel-title">Consult Doctor</h1>
    <div class="panel-body">
      <form name="consultform" id="consultform" method="post">
        <!-- step 01 -->
        <div id="cs01" class="csfrm">
          <fieldset>
            <legend>Explain Your Health Problem - Step 1 of 3</legend>
              <div class="form-group">
                <label>Explain your problem in detail *</label>
                <textarea name="Consult_problemdetail" class="consult-field"></textarea>
              </div>
              <div class="form-group">
                <label>Please write a short title to your problem * *</label>
                <input type="text" name="Consult_title" class="consult-field">
              </div>
              <div class="form-group">
                <label>Select problem area that matches your description *</label>
                <select name="Consult_problem" class="consult-field">
                  <option value="">Select Problem</option>
                  <option>Women's Sexual Health</option>
                  <option>Bones and Joint Problems</option>
                  <option>Physiotherapy</option>
                  <option>Mental Health</option>
                </select>
              </div>
            <div class="consult-form-btn">
                <button class="btn csopen01" type="button">Next <span class="fa fa-arrow-right"></span></button>
            </div>
          </fieldset>
        </div>
        <!-- step 01 -->
        <!-- step 02 -->
        <div id="cs02" class="csfrm" style="display: none;">
          <fieldset>
            <legend>Enter Patient Information - Step 2 of 3</legend>
              <div class="form-group">
                <label>Enter Name *</label>
                <input type="text" name="Consult_name" class="consult-field">
              </div>
              <div class="form-group">
                <label>Enter Email *</label>
                <input type="email" name="Consult_email" class="consult-field">
              </div>
              <div class="form-group">
                <label>Enter Mobile *</label>
                <input type="text" name="Consult_mobile" class="consult-field" onkeyup="this.value=this.value.replace(/[^\d]/,'')">
              </div>
              <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
                <label>Age *</label>
                        <select name="Consult_age" class="consult-field">
                        <option value="">Select your age</option>
                        <option>Below 18</option>
                        <option>18-30 yr</option>
                        <option>30-50 yr</option>
                        <option>Above 50</option>
                        </select></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                <label>Select Gender *</label>
                Male <input type="radio" name="Consult_gender" class="consult-radio">
                Female <input type="radio" name="Consult_gender" class="consult-radio">
                </div>
              </div>
              <div class="consult-form-btn">
                <button class="btn csback02" type="button"><span class="fa fa-arrow-left"></span> Back</button>
                <button class="btn csopen02" type="button">Next <span class="fa fa-arrow-right"></span></button>
              </div>
          </fieldset>
        </div>
        <!-- step 02 -->
        <!-- step 03 -->
         <div id="cs03" class="csfrm" style="display: none;">
          <fieldset>
            <legend>Select Consultation Type - Step 3 of 3</legend>
              <div class="form-group">
                <label>Consultation Time *</label>
                <select name="Consult_time" class="consult-field">
                     <option value="">--Select Time--</option>
                    <option value="9:00">9:00</option>
                    <option value="9:15">9:15</option>
                    <option value="9:30">9:30</option>
                    <option value="9:45">9:45</option>
                    <option value="10:00">10:00</option>
                    <option value="10:15">10:15</option>
                    <option value="10:30">10:30</option>
                    <option value="10:45">10:45</option>
                    <option value="11:00">11:00</option>
                    <option value="11:15">11:15</option>
                    <option value="11:30">11:30</option>
                    <option value="11:45">11:45</option>
                    <option value="12:00">12:00</option>
                    <option value="12:15">12:15</option>
                    <option value="12:30">12:30</option>
                    <option value="12:45">12:45</option>
                    <option value="1:00">1:00</option>
                    <option value="1:15">1:15</option>
                    <option value="1:30">1:30</option>
                    <option value="1:45">1:45</option>
                    <option value="2:00">2:00</option>
                    <option value="2:15">2:15</option>
                    <option value="2:30">2:30</option>
                    <option value="2:45">2:45</option>
                    <option value="3:00">3:00</option>
                    <option value="3:15">3:15</option>
                    <option value="3:30">3:30</option>
                    <option value="3:45">3:45</option>
                    <option value="4:00">4:00</option>
                    <option value="4:15">4:15</option>
                    <option value="4:30">4:30</option>
                    <option value="4:45">4:45</option>
                    <option value="5:00">5:00</option>
                    <option value="5:15">5:15</option>
                    <option value="5:30">5:30</option>
                    <option value="5:45">5:45</option>
                    <option value="6:00">6:00</option>
                    <option value="6:15">6:15</option>
                    <option value="6:30">6:30</option>
                    <option value="6:45">6:45</option>
                    <option value="7:00">7:00</option>
                </select>
              </div>
            <div class="form-group">
             <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
               <label>Video or Voice Call</label>
               <input type="radio" name="Consult_type" class="consult-radio" />
               <p>Rs. 350</p>
             </div>
             <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
               <label>Visit Clinic</label>
               <input type="radio" name="Consult_type" class="consult-radio" />
               <p>Free</p>
             </div>
            </div>
            <div class="consult-form-btn">
              <button class="btn csback03" type="button"><span class="fa fa-arrow-left"></span> Back</button>
              <button class="btn csopen03" type="button">Submit</button>
            </div>
          </fieldset>
        </div>
        <!-- step 03 -->
      </form>
    </div>
  </div>
<script type="text/javascript" src="{% static '' %}js/jquery01.js"></script>
</div>