{% load static %}
{% include "header.html" %}
<section class="for-doctor">
 <div class="container">
   <div class="row"> 
     <div class="col-md-12">
		<h1 class="text-center">For <b>Doctor</b></h1>
	    <p>Virtual care enables better health management experience for patients, but it also makes life simpler and better for you, the practitioner.
        </p>
	    <h5>Healthcare is Transforming :</h5>
	    <p>One of the force behind this transformation is technology. As doctors and allied specialists, patients and enterprises look to reduce the cost and get more value from health management, Virtual Care is playing a pivotal role. Apart from providing great value benefits virtual care also results in better care management process for providers.
          </p>
		  <ul class="internal-ul">
		  <li> Convenience of Care</li>
		  <li> Earn extra income</li>
		  <li> Choice of Hours</li>
		  <li> Growth in Practice</li>
		  </ul>
		  <p>If you are board-certified doctor or an allied health specialist, we want you.</p>
	 <a href="../login" class="btn btn-primary">Join Us</a>
	 </div>
	 <div class="col-md-6">
	    <div class="doc-cols"><h5>No fee,more earning</h5>
			<p>AI Vaid is free of cost service. Here virtual doctor will assist you and will provide you instant report also.
			</p>
		</div>
	 </div>
	 <div class="col-md-6">
	    <div class="doc-cols">
		  <h5>Reaching online</h5>
		  <p>AI Vaid is an online app. You can use it anywhere and at anyplace. You just need internet connection to reach a virtual doctor.</p>
	    </div>
	 </div>
	 <div class="col-md-6">
	   <div class="doc-cols">
		   <h5>Professionalism</h5>
		   <p>Get consultation and advice from best healthcare professionals. AI Vaid recommends you the most relevant practitioners based on your location and symptoms.
		   </p>
	   </div>
	 </div>
	 <div class="col-md-6">
		 <div class="doc-cols">
			   <h5>95% patient satisfaction rate</h5>
			   <p>Our customers are fully satisfied with our online services. You just need a mobile or laptop and internet connection to reach us.
		  </p>
		 </div>
    </div>
   </div>
 </div>
</section>
{% include "footer.html" %}