{% load static %}
{% include "header.html" %}
<section class="why-prevention">
 <div class="container">
   <div class="row"> 
     <div class="col-md-12">
			<h1 class="text-center">Health <b>Tips</b></h1>
	 </div>
  </div>
   <div class="col-md-12">
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/home.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		     <ul class="internal-ul tips-ul">
			   <li>Try to indulge in physical activities as much as you can. Try to do small chores like dusting, brooming, gardening , ironing clothes and other similar stuff.
                </li>
				<li>Regular physical activity is important for the healthy growth and development of children and young people.
                </li>
				<li>Limit TV time. Get involved and organise outdoor activities like playing with kids, cycling, swimming etc.
                   </li>
				
			 </ul>
		   </div>
		 </div>
	 </div>
	  <div class="col-md-12">
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/Work.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		    <ul class="internal-ul">
			  <li>Sit upright in your chair, with your feet touching the floor when you're working at your desk.
               </li>
			  <li>Use stairs instead of elevators to reach your work place.</li>
			  <li>Keep nuts, sprouts, fruit or other healthy stuff in the cupboard of your desk.</li>
			  <li>Take a small walk after every 2-3 hours of sitting.</li>
			  <li>Try getting off the bus one stop early on the way home from work, and walking.</li>
			 </ul>
		   </div>
		 </div>
	 </div>
	  <div class="col-md-12">
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/diet.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		      <ul class="internal-ul">
			   <li>People who regularly eat breakfast are less likely to be overweight, so don't skip breakfast.
                </li>
			   	<li>Eat right and light to get health.</li>
			   
			   <li>Fruits such as strawberries, orange, guava and pineapple have large amounts of Vitamin C and are beneficial against stress.
                </li>
			   
			   
			  <li>For good health, we need more than 40 different nutrients, and no single food can supply all these.
              </li>

			 </ul>
		   </div>
		 </div>
	 </div>
	  <div class="col-md-12">
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/lifestyle.png" class="img-responsive"/></div>
		   <div class="col-md-9"> 
		   <ul class="internal-ul">
			  <li>Don't read while walking.
               </li>
			  <li>Get up early in the morning, to remain away from health warning.
              </li>
			  <li>Eat what your body need, not you.</li>
			  <li>Eat fewer snacks and select healthier alternatives</li>
			  <li>Always hold the handrail when using stairs.</li>
			 
			 </ul>
			 </div>
		 </div>
	 </div>
	  <div class="col-md-12">
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/Meditate.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		      <ul class="internal-ul">
			  <li>Meditation quietens your mind and calms your soul.You will get inner peace.

               </li>
			  <li>This will increase your Self-Awareness and Spiritual Connection.</li>
			 
			 </ul>
		   </div>
		 </div>
	 </div>
	  <div class="col-md-12"> 
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/sleep.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		      <ul class="internal-ul">
			  <li>When you don’t rest well, you compensate by eating more — usually junk food. So get enough rest to avoid this.
               </li>
			  <li>Also, enough sleep avoids premature aging.</li>
			  
			 </ul>
		   </div>
		 </div>
	 </div>
	 
	   <div class="col-md-12"> 
		 <div class="row health_dv">
		   <div class="col-md-3"><img src="img/water.png" class="img-responsive"/></div>
		   <div class="col-md-9">
		      <ul class="internal-ul">
			 
			  <li>Water is the best way to quench your thirst – and it doesn’t come with the added sugar found in fruit juices, soft drinks and other drinks.</li>
			  
			 </ul>
		   </div>
		 </div>
	 </div>
 </div>
</section>
{% include "footer.html" %}