        <form role="form" method="post">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step5">
                        <h3>Do you have any of the following symptoms?</h3>
                        <!--<p>Selection is required !</p>-->
                        <div class="question1">{{listJinja_All}}</div>
                        <p style="color:red;" class="dropytext">{{  message }}</p>

                        <div class="input-group" id="qus">
                            <input type="radio" class="question_name" onclick ="clickss()" name="radio_name" value="1" id="yes"/>
                            <label for="yes">Yes</label>
                            <input type="radio" class="question_name" onclick ="clickss()" name="radio_name" value="0" id="no"/>
                            <label for="no">No</label>
                        </div>

                        <ul class="list-inline">
                        {% if change == 0 %}
                        <!--<li><button type="button" class="btn btn-primary next-step" onclick ="clickss()" >Save and continue</button></li>-->
                       {% elif change == 1 %}
                      <li><a href="../show_result"><button type="button" class="btn btn-default prev-step">Submit</button></a></li>
                       {% endif %}

                        </ul>
                    </div>
                </div>
            </form>




    <script>

   function clickss() {
        var user = $('.question_name').val();
        var check = $("input[name='question_name']:checked").val();

        $.ajax({
            url: '/questions',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                    $(".add_ajax_code").html(response);

            },
            error: function(error) {
                console.log(error);
                             $(".add_ajax_code").html(error);
        }
    });

}

</script>
