{% load static %}
{% include 'header.html' %}
<div class="container" id="innertabs">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a title="Introduction">
                            <span class="round-tab">
                               <i class="fas fa-info"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Introduction</span></div>
                        </li>
                        <li role="presentation" class="disabled">
                            <a title="Patient">
                            <span class="round-tab">
                               <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Patient</span></div>
                        </li>

                        <li role="presentation" class="disabled">
                            <a title="Symptom">
                            <span class="round-tab">
                                <i class="fa fa-stethoscope"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Symptom</span></div>
                        </li>
                        <li role="presentation" class="disabled">
                            <a title="Location">
                            <span class="round-tab">
                               <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Location</span></div>
                        </li>
                        <li role="presentation" class="disabled">
                            <a title="Questions">
                            <span class="round-tab">
								<i class="fas fa-question"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Questions</span></div>
                        </li>
                        <li role="presentation" class="disabled">
                            <a title="Complete">
                            <span class="round-tab">
                                <i class="far fa-list-alt"></i>
                            </span>
                            </a>
                            <div class="text-center"><span class="tabheading">Result</span></div>
                        </li>
                    </ul>
                </div>
                <form action=" " method="post">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="col-xs-12 no-padd">
                                <div class="col-md-6 col-sm-6 col-xs-12 no-padd">
                                    <h3>Introduction</h3>
                                    <p>AIvaid will diagnose your health according to current body symptoms, this AI
                                        Application provides accurate health report.,
                                        the smart way to find the care you may need.</p>
                                    <p>It's easy, fast and completely free.</p>
                                     {% csrf_token %}
                                    <p>
                                {% for field in MyForm %}
                                        {{field}}
                        {% for error in field.errors %}
                        <p style="color:red; font-size:15px;">{{ error }}</p>
                        {% endfor %}
                        {% endfor %} &nbsp;I have read and accept <a
                                        href="../terms-conditions">Terms of Service</a></p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 no-padd text-center">
                                        <img src="{% static '' %}images/introdoctor.png" alt="Doctor"/>
                                        <ul class="list-inline">
                                            <li><button type="submit" class="btn btn-primary next-step nxt step01">
                                                Save and Continue
                                            </button></li>
                                        </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
{% include 'footer.html' %}
