{% load static %}
{% include "header.html" %}
<section class="why-prevention">
 <div class="container">
   <div class="row"> 
     <div class="col-md-12">
	 
			<h1 class="text-center">Prevention is better than treatment !</h1>
			
<p>Get sick, seek medical help. How expensive that model is! If everyone only got sick and then need medical assistance, we could not afford the bill. It is better to prevent disease rather than to try to find cures for diseases after they occur, similar to why we change the oil in our car rather than wait to fix a blown engine.

</p>
<p>Disease prevention focuses on prevention strategies to reduce the risk of developing chronic diseases. It is a procedure through which individuals, particularly those with risk factors for a disease, are treated in order to prevent a disease from occurring.Treatment can include patient education, lifestyle modification.

</p>
<p>Prevention is better than cure is a most famous proverb which is a big example to us in our daily life. It teaches us to maintain a healthy, disciplined, and tension free lifestyle in order to remain away from any health issue or disease. It is easy to follow prevention methods to be safe from any problem however cure is a while dangerous for our health as it do not give surety of complete wellness once we get suffered from some problems. It is much easier for us to prevent the problem from happening than solving it when happened.

</p>
<p>This proverb ‘prevention is better than cure’ has various importance in our daily life. Following it in our life, we can be prevented from illness. It teaches us to adopt healthy habits of eating and living. It teaches us to do everything in advance in order to avoid last moment harassment. We should plan our all the activities for the project we have already decided to do in future. It helps us to prevent from all the hazards that may occur because of our irregularity in the daily routine. 
</p>
<p>For example, if we have planned for holidays, we should plan and work accordingly to the trip for getting smooth travel. If we eat easily digestible foods, our stomach will be healthy and calm.

</p>   
<p>Prevention is much cheaper technique than cure to be safe and peaceful. It saves time, health, effort and cost. It also prevents us from many anxious thoughts. As a human being, we have power of reasoning and power of foresight, so we should use it for our own benefit.

</p> 
<h5>Conclusion: </h5>
<p>Prevention is a big tool which helps us in many ways if we understand its real meaning and follow its teachings in our daily routine all through the life. It benefits a lot than it means.

</p>
	 </div>
   </div>
 </div>
</section>
{% include "footer.html" %}