<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AI Vaid - Welcome to the world of Artificial Intelligence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Online Health Checkup">
    <meta name="author" content="Webtunix Solutions Private Limited">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="icon" type="image" href="{% static '' %}admin-panel/images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static '' %}admin-panel/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}admin-panel/css/dashboard.css">
    <link rel="stylesheet" href="{% static '' %}admin-panel/css/responsive.css">
    <link rel="stylesheet" href="{% static '' %}admin-panel/css/jquery-ui.css">
    <script src="{% static '' %}admin-panel/js/jquery-1.11.0.js"></script>
    <script src="{% static '' %}admin-panel/js/bootstrap.min.js"></script>
</head>
<body>
<aside class="side-nav">
    <div class="cross-toggle" style="display:none;">
        <div class="bar1"></div>
        <div class="bar2"></div>
    </div>
    <div class="heading">
        <a href="../"> <img src="{% static '' %}images/logo2.png" alt="Patient"
                            class="img-responsive profilelogo"></a>
        <!--<div class="info">-->
        <!--<h3><a href="#">{{user.first_name}}</a></h3>-->
        <!--</div>-->
    </div>

    <ul class="categories">
        <li><i class="fa fa-home fa-fw" aria-hidden="true"></i>
            <a href="{% url 'dashboard_patient' %}" class="drop_hide" data-id="contents"> Dashboard</a></li>
        <li><i class="fa fa-calendar"></i><a href="#"> Appointment</a>
            <ul class="side-nav-dropdown">
                <li><a href="../online-consultation">Visit to Doctor</a></li>
                <li><a href="../online-consultation">Chat or Video call</a></li>
                <li><a href="../appointments-list">Appointment list</a></li>
            </ul>
        </li>
        <li><i class="fa fa-file"></i><a href="../undermaintenance" class="drop_hide"> Lab test</a></li>
        <li><i class="fa fa-comments"></i><a href="../undermaintenance" class="drop_hide"> Conversation</a></li>
        <li><i class="fa fa-hospital-o" aria-hidden="true"></i>
            <a href="../medical-record" data-id="profile" class="drop_hide"> Medical Record</a></li>
        <li><i class="fa fa-medkit"></i><a href="../undermaintenance" class="drop_hide"> Medicine Order</a></li>
        <li><i class="fa fa-list-alt" aria-hidden="true"></i><a href="" class="drop_hide"> Reviews</a></li>
        <li><i class="fa fa-bell"></i><a href="../notice-list-pat" class="drop_hide"> Notifications</a></li>
        <li><i class="fa fa-credit-card" aria-hidden="true"></i><a href="../undermaintenance" class="drop_hide">
            Payment</a></li>
        <li><i class="fa fa-exchange"></i><a href="../transaction-list" class="drop_hide"> Transaction</a></li>
        <li><i class="fa fa-question-circle" aria-hidden="true"></i><a href="#" class="drop_hide">
            Help and Support</a></li>
        <li><i class="fa fa-question" aria-hidden="true"></i><a href="../faqs" class="drop_hide"> FAQ</a></li>
    </ul>
</aside>
<div id="contents">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="toggle-menu" style="display:none;">
                <div class="toggle-icon"></div>
                <div class="toggle-icon"></div>
                <div class="toggle-icon"></div>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-align-right"></i>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard_patient' %}">My<span
                        class="main-color"> Dashboard</span></a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{request.user.first_name}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                {% if request.session.profile_pic %}
                                <img src="../uploads/{{request.session.profile_pic}}" alt="Patient"
                                     class="img-responsive img-circle patientprofilepic">
                                {% else %}
                                <img src="{% static '' %}admin-panel/images/patient-profile.jpg" alt="Patient"
                                     class="img-responsive img-circle patientprofilepic">
                                {% endif %}
                                <h4 class="text-center">Mr. {{user.first_name}} <br></h4>
                                <!--<p>+91 9876754325</p></li>-->
                            <li role="separator" class="divider"></li>
                            <li><a href="../profile"><i class="fa fa-user fw"></i> View And Update</a></li>
                            <li><a href="../change_password"><i class="fa fa-key fw" aria-hidden="true"></i> Change
                            Password</a>
                            </li>
                            <!--<li><a href="#"><i class="fa fa-user-md fw" aria-hidden="true"></i> Switch To Doctor profile</a>-->
                            <!--</li>-->
                            <!--<li><a href="../settings"><i class="fa fa-user-md fw" aria-hidden="true"></i> Setting</a>-->
                            <!--</li>-->
                            <li role="separator" class="divider"></li>
                            <li><a href="../logout"><i class="fa fa-power-off fw"></i> Log out</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-comments"></i><span>23</span></a>
                        <ul class="dropdown-menu notification_list msges">
                            <li><a href="#"><h3 class="notify_header"> Messages</h3></a></li>
                            <li role="separator" class="divider"></li>
                            <div class="clearfix"></div>
                            <li><a href="#"><img src="{% static '' %}admin-panel/images/patient/profile.jpg"
                                                 alt="Patient"
                                                 class="img-circle img-responsive msg_prof"/> Anu Mehra
                                <p class="notice_tm">Lorem Ipsum Lorem Ipsum </p>
                                <p class="notice_tm">Just Now </p>
                            </a>
                            </li>
                            <li><a href="#"><img src="{% static '' %}admin-panel/images/patient/profile.jpg"
                                                 alt="Patient"
                                                 class="img-circle img-responsive msg_prof"/> Anu Mehra
                                <p class="notice_tm">Lorem Ipsum Lorem Ipsum </p>
                                <p class="notice_tm">16 mins ago</p>
                            </a>
                            </li>
                            <li><a href="#"><img src="{% static '' %}admin-panel/images/patient/profile.jpg"
                                                 alt="Patient"
                                                 class="img-circle img-responsive msg_prof"/> Anu Mehra
                                <p class="notice_tm">Lorem Ipsum Lorem Ipsum </p>
                                <p class="notice_tm">23 seconds ago</p>
                            </a>
                            </li>
                            <li><a href="#"><img src="{% static '' %}admin-panel/images/patient/profile.jpg"
                                                 alt="Patient"
                                                 class="img-circle img-responsive msg_prof"/> Anu Mehra
                                <p class="notice_tm">Lorem Ipsum Lorem Ipsum </p>
                                <p class="notice_tm">20 mins ago</p>
                            </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="text-left view-all">View All Messages</a></li>
                        </ul>
                    </li>

                    {% if notification_Length %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-bell"></i><span>{{notification_Length}}</span></a>
                        <ul class="dropdown-menu notification_list">
                            {% if notification_List %}
                            <li><a href="#"><h3 class="notify_header" style="text-transform: capitalize;">
                                Notifications</h3></a></li>
                            <li role="separator" class="divider"></li>
                            {% for notification_List in notification_List %}
                            {% if notification_List.notification == 'Your Appointment has been accepted' %}
                            <li><a href="../read-notification-pat/{{notification_List.id}}__appointment_accepted"><i
                                    class="fa fa-user"></i>{{notification_List.notification}}<p class="notice_tm">
                                {{notification_List.date}}
                                {{notification_List.time}}</p></a>
                            </li>
                            {% elif notification_List.notification == 'Sorry,Your Appointment has been declined' %}
                            <li><a href="../read-notification-pat/{{notification_List.id}}__appointment_declined"><i
                                    class="fa fa-user"></i>{{notification_List.notification}}<p class="notice_tm">
                                {{notification_List.date}}
                                {{notification_List.time}}</p></a>
                            </li>
                            {% elif notification_List.notification == 'Check your Reports on the Report Lists' %}
                            <li><a href="../read-notification-pat/{{notification_List.id}}__report_added"><i
                                    class="fa fa-user"></i>{{notification_List.notification}}<p class="notice_tm">
                                {{notification_List.date}}
                                {{notification_List.time}}</p></a>
                            </li>
                            {% elif notification_List.notification == 'Please Rescheduled your Appointment....!!!' %}
                            <li><a href="../read-notification-pat/{{notification_List.id}}__rechedule_appointment"><i
                                    class="fa fa-user"></i>{{notification_List.notification}}<p class="notice_tm">
                                {{notification_List.date}}
                                {{notification_List.time}}</p></a>
                            </li>
                            {% else %}
                            <li><a href="../read-notification-pat/{{notification_List.id}}__nothing"><i
                                    class="fa fa-user"></i>{{notification_List.notification}}<p class="notice_tm">
                                {{notification_List.date}}
                                {{notification_List.time}}</p></a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="../notice-list" class="text-left view-all">View All Notification</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>